
<h3>Recipes</h3>



<% @recipes.reverse.each do |r| %>

	
     <p>
     	<%= image_tag r.image %>
     	<a href="/recipes/<%= r.id %>">
	    <%= r.name %></a> 
	</p>

	

<% end %> 

<%= link_to("Click for more", "#{yummly_path}?cuisine=#{params[:cuisine]}&caloricinput=#{@calories}", class: 'button') unless params[:action] == 'yummly' %>