@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);

body {
	margin: 0;
	
	background-repeat: no-repeat;
}


nav {
	color: navy;
	padding: 1em 0;
	border:  1px solid navy;

}

.container {
	max-width: 960px;
	margin: auto;
	font-family: 'Arial';
	color: navy;


}

header img {    
	display: inline-block;
	height: 75px;
    width: 160px;
}

header nav ul {
	
	left: 600px;
	vertical-align: top;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: right;
	display: inline-block;
	font-family: 'Raleway', sans-serif;



}

nav li {
	display: inline-block;
	margin: 0 1em;
	color: red;
}

nav a {
	text-decoration: none;
	color: navy;
}

label {
	display: inline-block;
	min-width: 150px;
	text-align: right;
}

.field_with_errors { 
	display: inline-block;
	min-width: 10px;
	text-align: right;


	input {
		background-color: white;
		border: 2px red solid;
	}
}

div { 
	margin-top: 10px;
	
}

ol {
	background-color: rgb(0, 255, 194);
	padding: 1em;
}

#new_user {
	margin: 2em;
}

.logo {
display: inline-block;
}

a:link {
	font-size: 150%;
}

.recipes {
  list-style: none;
  padding-left: 0;
}

.recipes img {
  max-height: 200px;
  display: block;
  margin: auto;
}

.recipes li {
  width: 300px;
  height: 300px;
  display: inline-block;
  position: relative;
  text-align: center;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.copy {
	opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index:1;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.copy:hover {
	opacity: 1;
}

.recipe:hover {
  background-color: white;
  opacity: 0.5;
}

.recipes li a {
  background-color: white;
  padding: 0.2em 1em;
  border-radius: 1em;
  font-family: 'PT Sans', sans-serif;

}

.recipe img {
  max-width: 500px;
  display: block;
  margin: auto;
  box-shadow: 5px 5px 20px #000;
  border-radius: 5px;
}