body {
	margin: 0;
	
	background-repeat: no-repeat;
}

nav {
	color: navy;
	padding: 1em 0;
	border:  1px solid navy;

}

.container {
	max-width: 960px;
	margin: auto;
	font-family: 'Arial';
	color: navy;


}

header img {    
	display: inline-block;
	height: 75px;
    width: 160px;
}

header nav ul {
	
	left: 600px;
	vertical-align: top;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: right;
	display: inline-block;
	font-family: 'Raleway', sans-serif;



}

nav li {
	display: inline-block;
	margin: 0 1em;
	color: red;
}

nav a {
	text-decoration: none;
	color: navy;
}

label {
	display: inline-block;
	min-width: 150px;
	text-align: right;
}

.field_with_errors { 
	display: inline-block;
	min-width: 10px;
	text-align: right;


	input {
		background-color: white;
		border: 2px red solid;
	}
}

div { 
	margin-top: 10px;
	
}

ol {
	background-color: rgb(0, 255, 194);
	padding: 1em;
}

#new_user {
	margin: 2em;
}

.logo {
display: inline-block;
}

a:link {
	font-size: 150%;
}
